; EditorConfig file: https://EditorConfig.org
; Install the "EditorConfig" plugin into your editor to use

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.yml,*.md]
indent_style = space
indent_size = 2

[*.json,*.json6]
indent_style = space
